NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TUTOR_PHOTO_BUCKET=tutor-photos
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

# Moodle SSO (marketplace -> moodle -> marketplace callback)
MOODLE_SSO_ENTRY_URL=
MOODLE_SSO_SHARED_SECRET=d3dec92a111920b0b220b89355fc43897bb81cc2112f0a48fa80e435837979cd
#MOODLE_SSO_SHARED_SECRET=f15b910641719ccb07804a2670a23e574c82420e36aa5099281f46394f68dac7 - old
MOODLE_SSO_TOKEN_EXPIRY_SECONDS=300

# Marketplace secure session signing
MARKETPLACE_SESSION_SECRET=
